<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.Member_tblMapper">
   <select id="selectall" resultType="Member_tbl">
   		SELECT * FROM member_tbl
   </select>
   <select id="countmember" resultType="Integer">
   		SELECT COUNT(*) FROM member_tbl
   </select>
</mapper>