<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/team.css}" rel="stylesheet">
<link th:href="@{/css/variables.css}" rel="stylesheet">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>ZenBlog Bootstrap Template - Index</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Movie Review | Single</title>

<!-- Loading third party fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Loading main css file -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<style>
.reviewtable{
	width:1000px;
}
.reviewlist>th {
	width: 15%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.review>td {
	width: 15%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.review>th:nth-child(2),td:nth-child(2){
	width:40%;
}

.container {
	margin-top: 120px;
}
.content{
	font-family: 'Gowun Dodum', sans-serif;
	
}
.book-title{
	font-size:3em;
}
.book-meata {
	list-style: none;
	font-size:2em;
}

</style>


</head>


<body>
	<header th:replace="top.html :: navigation-bar"></header>

	<main class="main-content">
		<div class="container">
			<div class="page">
				<!-- <div class="breadcrumbs">
					<a href="index.html">Home</a> <a href="review.html">Movie
						Review</a> <span>The Croods</span>
				</div> -->

				<div class="content">
					<div class="row">
						<div class="col-md-4">
							<figure class="book-poster">
								<img th:src="${book.bookImageURL}"
									style="width: 100%; height: 100%;">
							</figure>
						</div>
						<div class="col-md-8">
							<h2 class="book-title">[[${book.bookname}]]<span th:if="${book.vol!=null}">[[${book.vol}]]권</span></h2>
							<ul class="book-meata">
								<li>[[${book.authors}]]</li>
								<li>출판사 : [[${book.publisher}]]</li>
								<li>출판년도 : [[${book.publication_year}]]</li>
								<li>isbn13 : [[${book.isbn13}]]</li>
								<li>분류 : [[${book.class_nm}]]</li>
							</ul>
						</div>
					</div>
					<!-- .row -->
					</div>
				<div th:include="review/onereviewpaging" id="onereviewpaging"></div>
				</div>
				</div>
	</main>
	<footer th:replace="footer.html :: footer"></footer>
	<!-- Default snippet for navigation -->



	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

</body>

</html>