<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/team.css}" rel="stylesheet">
<link th:href="@{/css/variables.css}" rel="stylesheet">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>ZenBlog Bootstrap Template - Index</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Movie Review | Single</title>

<!-- Loading third party fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Loading main css file -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<style>
.reviewlist>th {
	width: 15%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.review>td {
	width: 15%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.container {
	margin-top: 120px;
}
.content{
	font-family: 'Gowun Dodum', sans-serif;
	
}
.movie-title{
	font-size:3em;
}
.movie-meata {
	list-style: none;
	font-size:2em;
}
</style>


</head>


<body>
	<header th:replace="top.html :: navigation-bar"></header>

	<main class="main-content">
		<div class="container">
			<div class="page">
				<!-- <div class="breadcrumbs">
					<a href="index.html">Home</a> <a href="review.html">Movie
						Review</a> <span>The Croods</span>
				</div> -->

				<div class="content">
					<div class="row">
						<div class="col-md-4">
							<figure class="movie-poster">
								<img th:src="${movie.movieposter}"
									style="width: 100%; height: 100%;">
							</figure>
						</div>
						<div class="col-md-8">
							<h2 class="movie-title">[[${movie.movieNm}]]</h2>
							<ul class="movie-meata">
								<li>장르 : [[${movie.genreAlt}]]</li>
								<li>감독명 : [[${movie.peopleNm}]]</li>
								<li>개봉일 : [[${movie.openDt}]]</li>
								<li>러닝타임 :[[${movie.showTm}]]분</li>
			
							</ul>
						</div>
					</div>
					<!-- .row -->
					<h1>리뷰</h1>
					<div class="entry-content">
						<table>
							<thead>
								<form method="post" action="">
									<tr class="reviewlist">
										<th>제목</th>
										<th>리뷰</th>
										<th>작성자(닉네임)</th>
										<th>등록일</th>
										<th>평점</th>
									</tr>
							</thead>

							<tbody>
								<!-- CONTENTS !-->
								<tr th:each="s: ${moviereview}" class="review">
									<td><span th:text="${s.title}"></span></td>
									<td><a href="#"> <span th:text="${s.review}"></span>
									</a></td>
									<td><span th:text="${s.nickname}"></span></td>
									<td><span th:text="${s.writedate}"></span></td>
									<td><span th:text="${s.star_rate}"></span></td>
								</tr>
								</form>
							</tbody>
						</table>
						<!-- .container -->
	</main>
	<footer th:replace="footer.html :: footer"></footer>
	</div>
	<!-- Default snippet for navigation -->



	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

</body>

</html>