<style>
/*페이징*/
.pageDiv ul{
	list-style:none;
	float:left;
	overflow:auto;
}
.pageDiv>ul>li{
	padding:5px 10px;
	float:left;
}
</style>
<div class="entry-content">
	<table>
		<thead>
			<tr class="reviewlist">
				<th>제목</th>
				<th class="jb-th-1" style="width: 42%;">리뷰</th>
				<th>작성자(닉네임)</th>
				<th>등록일</th>
				<th>평점</th>
			</tr>
		</thead>

		<tbody>
			<!-- CONTENTS !-->
			<tr th:each="s: ${bookreview}" class="review">
				<td><span th:text="${s.title}"></span></td>
				<td><a href="#"> <span th:text="${s.review}"
						style="font-size: 0.8em;"></span>
				</a></td>
				<td><span th:text="${s.nickname}"></span></td>
				<td><span th:text="${#dates.format(s.writedate,'yyyy-MM-dd')}"></span></td>
				<td><span th:text="${s.star_rate}"></span></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
현재 페이지 : [[${p.nowPage}]]<br>
총 페이지 : [[${p.totalPage}]]<br>
</div>
<!-- .container -->
<div class="pageDiv">
	<ul>
		<!-- nowPage가 1일경우 -->
	
		<!-- nowPage가 1보다 클경우 -->
		<p th:if="${p.nowPage != 1}">
			<li><a th:href="@{/review/bookreview(nowPage=${p.nowPage}-1,book_no=${p.book_no})}">이전</a></li>
		</p>
		<!-- 
		<p th:each="i:${#numbers.sequence(p.startPage,p.startPage+p.onePageCount-1)}">
			<p th:if="${i &lt;= p.totalPage}">
				<p th:if="${i == p.nowPage}">
					<li style="background-color:#ddd;"><a th:href="@{/review/bookreview(nowPage=${i},book_no=${p.book_no})}">[[${i}]]</a></li>
				</p>
				<p th:if="${i != p.nowPage}">
					<li><a th:href="@{/review/bookreview(nowPage=${i},book_no=${p.book_no})}">[[${i}]]</a></li>
				</p>
			</p>
		</p>
		-->
		<!-- nowPage<totalPage -->
		<p th:if="${p.nowPage lt p.totalPage}">
			<li><a th:href="@{/review/bookreview(nowPage=${p.nowPage}+1,book_no=${p.book_no})}">다음</a></li>
		</p>
	</ul>
	
</div>
