*{
	list-style:none;
}

a{font-size:10px;}
input {
  background-color: #eee;
  border: none;
  padding: 12px 0px;
  margin: 8px 0;
  width: 320px;
  height: 25px;
}
h4, h1{
	text-align:center;
}
#findidbtn, #check{
	right:20px;
}

#lostid, #findpwd{
	border:1px solid #dcdcdc;
	width:400px;
	height:300px;
	margin:0 auto;
}


body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

