<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/team.css}" rel="stylesheet">
<link th:href="@{/css/variables.css}" rel="stylesheet">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Doit Book</title>
<link rel="icon" href="/img/stack-of-books.png">
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Doit Book</title>

<!-- Loading third party fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<!-- Loading main css file -->
<link rel="stylesheet" th:href="@{/css/style.css}">


<style>
.btn {
	-bs-btn-font-size: 2rem;
	margin-bottom: 10px;
}
.star {
	position: relative;
	font-size: 2rem;
	color: #ddd;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: red;
	overflow: hidden;
	pointer-events: none;
}
th, td {
	padding: 6px;
    }
</style>
<style>
	@font-face {
	    font-family: 'KyoboHand';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	    }
	.footer-content{
		font-family: 'KyoboHand';
	}
</style>

<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script th:inline="javascript">		
/*<![CDATA[*/
	//게시글 삭제버튼
function deletePost() {
    const board_no = /*[[${board.board_no}]]*/;

    if ( !confirm(board_no + '번 게시글을 삭제할까요?') ) {
      return false;
    }

    const formHtml = `
        <form id="deleteForm" action="/post/delete.do" method="post">
            <input type="hidden" id="board_no" name="board_no" value="${board_no}" />
        </form>
    `;
    const doc = new DOMParser().parseFromString(formHtml, 'text/html');
    const form = doc.body.firstChild;
    document.body.append(form);
    document.getElementById('deleteForm').submit();
  }
  
/* $(document).ready(function(){
	var formObj = $("form[name=updateForm]");
	const query1 = 'input[name="con_no"]:checked';
	
	
	const selectedEls1 = 
	      document.querySelectorAll(query1);
	let result = '';
	selectedEls1.forEach((el) => {
	    result += el.value + ' ';
	  });
	
$(".btn btn-secondary").on("click",function(){
	formObj.attr("action","/update_action");
	formObj.attr("method","post");
	formObj.submit;

}) */

/*]]>*/
</script>

<script>
const drawStar = (target) => {
    document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
  }
</script>

</head>
<body>
<header th:replace="top.html :: navigation-bar"></header>	
<div class="container" style="margin-top:100px;">
		<!-- 여기서부터 게시글 작성 폼 시작 -->
			<div class="form-group">
			<label for="title" style=font-size:20px; name="board_no">게시글 번호 : [[${board.board_no}]]번</label><br>
			
			<form action="/update_action" method="POST" name="updateForm">
			<input type="hidden" th:value="${board.con_no}" name="con_no">
			<input type="hidden" th:value="${board.board_no}" name="board_no">
				<label for="title" style=font-size:20px;>제목</label>
				<input class="form-control" rows="15"  id="content"
    name="title" th:value="${board.title}" ></input></br>
			</div>

			
			<div class="form-group" >
				<label for="content" style=font-size:20px;>내용</label>
				<textarea class="form-control" rows="15"  id="content"
    name="review">[[${board.review}]]</textarea></br>
			</div>

			<div class="form-group">
				<label for="content" style=font-size:20px;>개인메모</label>
				<!--  여러줄의 데이터를 입력하고 하고자 할때 textarea 태그를 사용한다. -->
				<!--  textarea 안에 있는 모든 글자는 그대로 나타난다. 공백문자, tag, enter -->
				<textarea class="form-control" rows="15"  id="content"
    name="secret_memo">[[${board.secret_memo}]]</textarea></br>
			</div>
			<div class="form-group">
				<label for="writer" style=font-size:20px;>시청매체</label> 
				<textarea class="form-control" rows="15"  id="content"
    name="partner">[[${board.partner}]]</textarea></br>
			</div>
			<div class="form-group">
				<label for="writer" style=font-size:20px;>별점</label> 
				<div th:if="${board.star_rate}==1">
				<span class="star"> ★★★★★ <span style="width:10%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==2">
				<span class="star"> ★★★★★ <span style="width:20%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==3">
				<span class="star"> ★★★★★ <span style="width:30%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==4">
				<span class="star"> ★★★★★ <span style="width:40%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==5">
				<span class="star"> ★★★★★ <span style="width:50%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==6">
				<span class="star"> ★★★★★ <span style="width:60%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==7">
				<span class="star"> ★★★★★ <span style="width:70%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==8">
				<span class="star"> ★★★★★ <span style="width:80%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==9">
				<span class="star"> ★★★★★ <span style="width:90%;" >★★★★★</span></span>
				</div>
				<div th:if="${board.star_rate}==10">
				<span class="star"> ★★★★★ <span style="width:100%;" >★★★★★</span></span>
				</div>

				
				<br><br>
			</div>
			
			
			<button type="submit" class="btn btn-secondary" id="btn-save">수정</button>
			<button type="button" onclick="deletePost()"class="btn btn-secondary" id="btn-save">삭제</button>
			</form>
		
	</div>
	<!-- 여기서부터 게시글 작성 폼 끝 -->

	<footer th:replace="footer.html :: footer"></footer>

	<!-- Default snippet for navigation -->
</body>

</html>