<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/team.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Doit Book</title>
    <link rel="icon" href="/img/stack-of-books.png">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

<style>
.container-fluid{
	margin-left: 30px;
}



.gallery-item img {
	transition: all 0.2s linear;
}

.gallery-item:hover img {
	transform: scale(1.4);
}

</style>

  </head>

  <body>
  <header th:replace="top.html :: navigation-bar"></header>
   
   <section id="gallery" class="gallery">
      
		<div class="section-title">
         <a th:href="@{/movie}"> <h2>MOVIE</h2></a>
        </div>
        <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/movie}"> <img src="/img/movie.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/book}"> <img src="/img/book.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/theater}"><img src="/img/theater.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/musical}"><img src="/img/musical.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          
          </div>
         </div>
         
         </section>
         <section id="gallery" class="gallery">
      
		<div class="section-title">
         <a th:href="@{/book}">  <h2>BOOK</h2></a>
        </div>
        <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/movie}"> <img src="/img/movie.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/book}"> <img src="/img/book.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/theater}"><img src="/img/theater.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/musical}"><img src="/img/musical.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          
          </div>
         </div>
         
         </section>
         <section id="gallery" class="gallery">
      
		<div class="section-title">
           <a th:href="@{/theater}"><h2>THEATER</h2></a>
        </div>
        <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/movie}"> <img src="/img/movie.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/book}"> <img src="/img/book.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/theater}"><img src="/img/theater.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/musical}"><img src="/img/musical.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          
          </div>
         </div>
         
         </section>
         <section id="gallery" class="gallery">
      
		<div class="section-title">
          <a th:href="@{/musical}"><h2>MUSCIAL</h2></a>
        </div>
        <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/movie}"> <img src="/img/movie.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/book}"> <img src="/img/book.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/theater}"><img src="/img/theater.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/musical}"><img src="/img/musical.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          
          </div>
         </div>
         
         </section>
   
   
   
    <footer th:replace="footer.html :: footer"></footer>
  </body>
</html>
