<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/team.css}" rel="stylesheet">
<link th:href="@{/css/variables.css}" rel="stylesheet">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/team.css" rel="stylesheet">
<link href="/css/slider.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>Musical Review List</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<!-- Link Swiper's CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>
<style>
.reviewcontainer {
	margin-left: 1%;
	height:100%;
	width:1900px;
	border: 1px solid black;
}

.reviewcontainer img {
	text-align: center;
	margin-left:1%;
	overflow:hidden;
	border: 1px solid blue;
}

p{
	text-align: left;
}

</style>
<body>
	<header th:replace="top.html :: navigation-bar"></header>
	

	<div class="reviewcontainer" style="margin-left:400px; margin-top:150px; margin-right: 160px; margin-bottom: 70px;">
		<span id="reviewlist" th:each="theaterreviews:${theaterreviews}">
			<a th:href="@{/review/theaterreview(mt20id=${theaterreviews.mt20id})}">
			<img th:src="${theaterreviews.poster}" style="height: 300px; padding:3px;" id="reviewimg"></a>
			<p th:each="musical:${theaterreviews}"> [[${musical.prfnm}]]</p>
			</span>
			
		
	
	</div>
	<footer th:replace="footer.html :: footer"></footer>
</body>
</html>
