<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="/img/favicon.png" rel="icon">
	<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
    <title>Doit Book</title>
    <link rel="icon" href="/img/stack-of-books.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <!-- Vendor CSS Files -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
		rel="stylesheet">
	<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="/vendor/aos/aos.css" rel="stylesheet">
	
	<!-- Template Main CSS Files -->
	<link th:href="@{/css/variables.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link th:href="@{/css/team.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/jongjincss/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jongjincss/style.css" type="text/css">
    <link rel="stylesheet" href="css/jongjincss/followerAddBtn.css" type="text/css">
    
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
    
    <script>
    function chkDelete(){
    		alert("팔로우를 취소하였습니다.");
    		return true;
    };
    </script>
    <style>
	@font-face {
	    font-family: 'KyoboHand';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	    }
	.footer-content{
		font-family: 'KyoboHand';
	}
</style>

    
</head>
<body>
<!-- top  -->
<header th:replace="top.html :: navigation-bar"></header>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title" >
                <br>
                    <h4>Follower List </h4>
			        <a th:href="@{/follower/addFollower}"><button class="custom-btn btn-4">Add Follower</button></a>
                </div>
            </div>
        </div>
        
        
        <div class="row property__gallery">
        
        	
            <div th:each="fw : ${followerinfo}" class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item"  >
                	<div class="product__item__pic set-bg" >
                    <img th:src="'/img/jongjinimg/follower/'+${fw.mem_img}" style="width:400px; height:370px;"> <!-- mem_img -->
                        <ul class="product__hover">
                       		<li><h5 id="myword">[[${fw.myword}]]</h5></li><br>
                            <li><a th:href="@{/follower/fwBookBoard(fwNo=${fw.mem_no})}"><span class="icon_lookbook"></span></a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><a th:href="@{/follower/DeleteFw(dfwid=${fw.mem_id})}" onClick='chkDelete();'><span class="icon_delete"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">   <!-- mem_id -->
                        <h6><input type="hidden" name="thisid" th:value="${fw.mem_id}"> [[${fw.mem_id}]] <span>([[${fw.nickname}]])</span>
                        <img th:src="'/img/jongjinimg/follower/'+${fw.heart}" style="height:12px; width:12px" ></h6>
                        <div class="product__price" th:text="${fw.mbti}"></div> <!-- mbti -->              
                    </div>
                </div>
            </div>       
           
        </div>
    </div>
</section>
<!-- Product Section End -->

</body>
 <footer th:replace="footer.html :: footer"></footer>
</html>