<div class="fwcontent">
	<table id="table">
	

		<tr class="board-list">
			<td>번호</td>
			<td>제목</td>
			<td>등록일</td>
			<td>별점</td>
		</tr>
		<tr class="list" th:each="bl :${booklist}">
			<td th:text="${bl.board_no}"></td>
			<td><a th:href="@{/post/fwview.do( board_no=${bl.board_no} )}" th:text="${bl.title}" class="word-cut"></a></td>
			<td><span th:text="${#dates.format(bl.writedate,'yyyy-MM-dd')}"></span></td>
			<td th:text="${bl.star_rate}"></td>
		</tr>

	
	</table>
	<input type="hidden" id="pagingcnt" th:value="${bkpagingcnt}">
	<ul th:each="num : ${#numbers.sequence(1,bkpagingcnt)}" style="float:left;">
		<li th:value="${num}" style=" list-style:none;"><a th:href="@{/follower/fwBoard2(fwNo=${fwNo},num=${num})}">[[${num}]]</a></li>
	</ul>
</div>