<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script>
// 비밀번호 재 설정시 유효성검사
function check_pw(){

    var pw = document.getElementById('mem_pwd1').value;
    var SC = ["!","@","#","$","%","?","^","*","."];
    var check_SC = 0;
   
    if(pw.length==0){  // 비밀번호를 변경하지않을시(적지않을때)
    	document.getElementById("pwdok").value="yes";
    }else{	// 비밀번호를 변경할때 
    	if(pw.length < 6 || pw.length>16){
            window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
            document.getElementById('mem_pwd1').value='';
        }
        for(var i=0;i<SC.length;i++){
            if(pw.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
            window.alert('!,@,#,$,%,? 등의 특수문자가 들어가 있지 않습니다.')
            document.getElementById('mem_pwd1').value='';
            $('#pwdok').val("no");
        }
        if(document.getElementById('mem_pwd1').value !='' && document.getElementById('mem_pwd2').value!=''){
            if(document.getElementById('mem_pwd1').value==document.getElementById('mem_pwd2').value){
                document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                document.getElementById('check').style.color='blue';
                document.getElementById("pwdok").value="yes";
                
            }
            else{
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color='red';
                $('#pwdok').val("no");
            }
        }
    }
 
}

 function check_mbti(){	// mbti 유효성 검사

    var mbti = document.getElementById('mbti').value;
    var mbtiup = mbti.toUpperCase();
    var SC = ["INFP","INTJ","INFP","INFJ","ISFP","ISTJ","ISFP","ISFJ","ENFP","ENTJ","ENFP","ENFJ","ESFP","ESTJ","ESFP","ESFJ"];
    var check_SC = 0;
    
    if(mbtiup.length ==0){		//mbti가 변경되지않을때 
    	document.getElementById('mbtiok').value="yes";
    }else{						//mbti가 변경될때
    	if(mbtiup.length != 4){
            window.alert('mbti는 4글자로 이루어져있습니다.');
            document.getElementById('mbti').value='';
        }
        for(var i=0;i<SC.length;i++){
            if(mbtiup.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
        	 document.getElementById('mbtiok').value="no";
        }else if(check_SC == 1){
        	 document.getElementById('mbtiok').value="yes";
        }
    }
} 

$(document).ready(function(){
	$('#updatebtn').click(function(){
		//checkExPwd();
		var chkpw = document.getElementById('pwdok').value;
		var rtn =true;
		if(chkpw=="no"){
			alert("비밀번호를 다시 설정해주십시오.");
			rtn = false;
			return rtn;
		}
	 	var chkmbti = document.getElementById('mbtiok').value;
		if(chkmbti=="no"){
			alert("mbti를 다시 설정해주십시오.");
			rtn = false;
			return rtn;
		} 
	
		var pwd = document.getElementById('mem_pwd1').value;
		var nickname = document.getElementById('nickname').value;
		var mbti = document.getElementById('mbti').value;
		
		var c = confirm("수정하시겠습니까?");
		if(c==true){
			$('#update_form').attr({
				'enctype':'multipart/form-data', //이미지도 보내겠다!!!!!!
				'method':'post',
				'action':'[[@{/mypage/updateMyInfo}]]'
			});
			$('#update_form').submit();
		}
		
	})
})

</script>

<!--checkExPwd()에서는 기존의 비밀번호, 아이디를 입력하게하고 일치할경우 업데이트가 진행되도록 하자. -->
<form id="update_form" >
<!-- action="/mypage/updateMyInfo" method="post" onsubmit="return checkExPwd()" -->
<br>
	<h3 style="font-weight:bolder;"> 내 정보 </h3>
	<table th:each="my : ${myinfo}">
		<tr>
			<th >아이디</th>
			<td> [[${my.mem_id}]]</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>[[${my.mem_name}]]</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td>[[${my.mem_email}]]</td>
		</tr>
		<tr>
		<!-- 비밀번호 유효성 검사 기능 넣어야함	1.변경할 비번 넣으면 유효성검사, 2.안넣으면 기존의 비밀번호로 그대로 수정  -->
			<th>비밀번호 변경</th>
			<td><input type="password" id="mem_pwd1" name="mem_pwd" placeholder="변경할 비밀번호 입력" onchange="check_pw()"></td>
		</tr>
		<tr>
		<!-- 위에서 입력한 번호와 일치하는지 과정이 필요함. -->
			<th>비밀번호 재입력</th>
			<td><input type="password" id="mem_pwd2" placeholder="변경할 비밀번호 재입력" onchange="check_pw()"><span id="check"></span></td>
		</tr>
		<tr>
		<!-- 1.안넣으면 기존의 닉네임으로 그대로 수정   -->
			<th>닉네임</th>
			<td><input type="text" id="nickname" name="nickname" th:placeholder="${my.nickname}"></td>
		</tr>
		<tr>
		<!-- 안넣으면 기존의 mbti로 그대로 수정  -->
			<th>MBTI</th>
			<td><input type="text" id="mbti" name="mbti" th:placeholder="${my.mbti}" onchange="check_mbti()"> </td>
		</tr>
		<tr>
		<!-- 안넣으면 기존의 img로 그대로 수정 + 여기는 이미지 어캐넣는지 다시 공부하자. -->
			<th>대표 이미지</th>
			<td><img id="myimg" th:src="@{/img/jongjinimg/follower/}+${my.mem_img}" style="width:130px; height:170px;"></td>
		</tr>
		<tr>
			<th>대표 이미지 수정</th>
			<td><input type="file" name="img" accept="image/*"></td>
		</tr>
		<tr>
			<th>자기소개 한마디</th>
			<td><textarea name="myword" th:placeholder="${my.myword}"></textarea></td>
		</tr>
	</table>
	<!-- <img src="/img/jongjinimg/edit.png" style="position:relative; bottom:470px; left:350px;"> -->
	<input type="hidden" id="pwdok" value="yes">
	<input type="hidden" id="mbtiok" value="yes">
	<button id="updatebtn" style="position:relative; left:180px;"> 회원정보 수정하기</button>
	
</form>