<style>
#likelist li {
	list-style: none;
	width: 700px;
	text-align: center;
}
#notice{
	width:700px;
	text-align:center;
	font-size:1.2em;
	color:red;
}

#likelist {
	margin: 0 auto;
}
</style>
<br><br><br>
<div id="notice"> 찜 목록에서 삭제하시려면 <u>해당 컨텐츠로 이동하여 삭제</u>해주세요 </div>
<div id="likelist">
	<ul>
		<span id="booklist" th:each="b:${books}">
			<li><a th:href="@{/review/bookreview(book_no=${b.book_no})}">도서 > [[${b.bookname}]]</a></li>
		</span>
		<span id="movielist" th:each="m:${movies}">
			<li><a th:href="@{/review/moviereview(movieCd=${m.movieCd})}">영화 > [[${m.movieNm}]]</a></li>
		</span>
		<span id="theaterlist" th:each="t:${theaters}">
			<li><a th:href="@{/review/theaterreview(mt20id=${t.mt20id})}">연극 > [[${t.prfnm}]]</a></li>
		</span>
		<span id="musicallist" th:each="mu:${musicals}">
			<li><a th:href="@{/review/theaterreview(mt20id=${mu.mt20id})}">뮤지컬 > [[${mu.prfnm}]]</a></li>
		</span>
	</ul>
</div>