<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osom.mapper.BoardMapper">

	<insert id="insert" parameterType="Board">
		insert into board values (#{board_no},#{con_no},#{mem_no},#{title},#{review},#{partner},NOW(),#{secret_memo},#{star_rate})

	</insert>
	<update id="update">
		
	</update>
	<select id="select" parameterType="Integer" resultType="Board">
		select * from board inner join member_tbl using(mem_no) where board_no=#{board_no}
	</select>
	<!-- 게시글 삭제 -->
 	<delete id="deletepost" parameterType="Integer">
		delete from board where board_no=#{board_no}
	</delete> 
	
	<!-- 회원탈퇴시 해당멤버의 게시글 전부 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM board WHERE mem_no=#{mem_no}
	</delete>
	
	<select id="selectall" resultType="Board">
		
	</select>
	
	<select id="searchmylist" parameterType="Integer" resultType="Board"  >
		select * from board where mem_no=#{mem_no} order by board_no desc
	</select>
	
	<select id="booklist" parameterType="Board" resultType="Board">
		SELECT * FROM board WHERE mem_no=#{mem_no} AND con_no BETWEEN 100 AND 5099 order by board_no desc LIMIT #{pages} OFFSET #{offset}
	</select>
	
	<select id="bookcnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM board  WHERE mem_no=#{mem_no} AND con_no BETWEEN 100 AND 5099
	</select>
	
	<select id="movielist" parameterType="Board" resultType="Board">
		SELECT * FROM board WHERE mem_no=#{mem_no} AND con_no BETWEEN 5100 AND 21298 order by board_no desc LIMIT #{pages} OFFSET #{offset}
	</select>
	
	<select id="moviecnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM board  WHERE mem_no=#{mem_no} AND con_no BETWEEN 5100 AND 21298
	</select>
	
	<select id="theaterlist" parameterType="Board" resultType="Board">
		SELECT * FROM board WHERE mem_no=#{mem_no} AND con_no BETWEEN 21299 AND 100000 order by board_no desc LIMIT #{pages} OFFSET #{offset}
	</select>
	
	<select id="theatercnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM board  WHERE mem_no=#{mem_no} AND con_no BETWEEN 21299 AND 100000
	</select>
 	
	<!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="Integer" resultType="Board">
        SELECT * FROM board WHERE board_no=#{board_no}
    </select>
    <!-- 게시글 수정 -->
    <update id="updatepost" parameterType="Board" >
		UPDATE board SET title = #{title}, review = #{review}, partner = #{partner}, secret_memo = #{secret_memo}, star_rate = #{star_rate} WHERE board_no = #{board_no}
   
	</update>
	<select id="getavgstar_rate" resultType="double">
		select avg(star_rate) from board where con_no = #{con_no}
	</select>
	<!-- recent review(footer에 띄워줄 정보) -->
	<select id="recentreview" resultType="Board">
		select b.board_no,m.nickname, b.title, b.writedate, b.con_no from board b inner join member_tbl m using(mem_no) order by board_no desc LIMIT 5;
	</select>
	<select id="totalreview" resultType="Integer">
		select mem_no from board group by mem_no order by count(mem_no) desc LIMIT 4  
	</select>
</mapper>