<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osom.mapper.BookMapper">
	<insert id="insert" parameterType="BookInfo">
		INSERT INTO bookinfo VALUES (#{book_no},#{bookname},#{authors},#{publisher},#{publication_year},#{isbn13},#{vol},#{class_nm},#{bookImageURL})
	</insert>
	<select id="getbookno" resultType="Integer">
		SELECT book_no FROM bookinfo
	</select>
	<update id="updatebookcd" parameterType="BookInfo">
		UPDATE bookinfo SET con_no = #{con_no} WHERE book_no = #{book_no}
	</update>
	<select id="searchbooklist" resultType="BookInfo" parameterType="String">
		SELECT * FROM bookinfo WHERE bookname LIKE CONCAT('%',#{keyword},'%')
	</select>
	<select id="getbookreview" resultType="BookInfo">
		SELECT distinct(con_no),bookinfo.bookImageURL,bookinfo.bookname,bookinfo.book_no FROM bookinfo INNER JOIN board USING(con_no);
	</select>
	<select id="select" parameterType="Integer" resultType="BookInfo">
		SELECT * FROM bookinfo WHERE book_no = #{book_no}
	</select>
	<select id="getonebookreview" resultType="BookInfo" parameterType="Integer">
		select * from board inner join bookinfo using(con_no) inner join member_tbl using(mem_no) WHERE book_no=#{book_no};
	</select>
	<select id="totalRecord" resultType="Integer" parameterType="Integer">
		select count(*) from board inner join bookinfo using(con_no) WHERE book_no=#{book_no};
	</select>
	<select id="boardPageSelect" resultType="BookInfo" parameterType="Paging">
		select C.* from(select A.* from(select b.board_no,b.title,b.review,b.writedate,b.star_rate,m.nickname
		from board b inner join bookinfo using(con_no) inner join member_tbl m using(mem_no) WHERE book_no=#{book_no} order by board_no desc) A LIMIT #{totalRecord}) C LIMIT #{startRecord},#{onePageRecord};
	</select>
	
</mapper>