<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osom.mapper.Member_tblMapper">
    
    <!-- 회원가입 -->
	<insert id="insert" parameterType="Member_tbl">
		INSERT INTO member_tbl (mem_name, mem_id, mem_pwd, mem_email, mbti, nickname,mem_img) 
		VALUES (#{mem_name},#{mem_id},#{mem_pwd},#{mem_email},#{mbti},#{nickname},#{mem_img})
	</insert>

	<!-- 로그인 -->
	<select id="select" parameterType="String" resultType="Member_tbl">
		select * from member_tbl where mem_id=#{mem_id}
	</select>
	
	<!-- 회원번호로 데이터 불러오기 -->
	<select id="selectbyno" parameterType="Integer" resultType="Member_tbl">
		select * from member_tbl where mem_no=#{mem_no}
	</select>

	<update id="update">
		
	</update>

	
	<update id="updateMyInfo" parameterType="Member_tbl">
		UPDATE member_tbl set mem_pwd=#{mem_pwd}, mbti=#{mbti} , nickname=#{nickname}, mem_img=#{mem_img}, myword=#{myword} where mem_no=#{mem_no}
	</update>

	<delete id="delete" parameterType="String">
		delete from member_tbl where mem_id=#{mem_id}
	</delete>
	
	<select id="selectallfollower" resultType="Member_tbl" parameterType="Integer">
		select m.mem_no, m.mem_id, m.mbti, m.mem_img, m.nickname, m.myword from member_tbl m inner join friendship f on m.mem_no = f.mem_no2 where f.mem_no = #{f.mem_no}
	</select>
	
	<!-- 아이디를 넣으면 회원번호 알수잇는 기능 -->
	<select id="findmem_no" resultType="Integer" parameterType="String">
		SELECT mem_no FROM member_tbl WHERE mem_id=#{mem_id}
	</select>
	<!-- 아이디찾기 -->
	<select id="findid" resultType="String" parameterType="Member_tbl">
		SELECT mem_id FROM member_tbl WHERE mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>
	<!-- 비밀번호찾기 -->
	<select id="findpwd" resultType="Member_tbl" parameterType="String">
		SELECT * FROM member_tbl WHERE mem_id=#{mem_id} and  mem_email=#{mem_email}
	</select>
	<!-- 아이디중복체크 -->
	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(mem_id) FROM member_tbl WHERE mem_id= #{mem_id}
	</select>
	
	<!-- 포인트 적립 -->
	<update id="updatePoint" parameterType="Integer">
		update member_tbl set mem_point = mem_point+10 where mem_no = #{mem_no}
	</update>
	
	<!-- 회원정보조회 -->
	<select id="selectMember" parameterType="String" resultType="Member_tbl">
		select * from member_tbl where mem_email = #{mem_email}
	</select>

	<!-- 패스워드변경 -->
	<update id = "pwUpdate_M" parameterType="Member_tbl">
		update member_tbl set mem_pwd=#{mem_pwd} where mem_email=#{mem_email} and mem_id=#{mem_id}
	</update>
	    
	 <update id="logindate" parameterType="Member_tbl">
	 	update member_tbl set today=#{today} where mem_no=#{mem_no}
	 </update>

	<select id="totalRecord" resultType="Integer">
		select count(*) from board where mem_no =#{mem_no}
	</select>
	<select id="boardPageSelect" resultType="Board" parameterType="Paging">
		select C.* from(select A.* from(select b.board_no,b.title,b.review,b.writedate,b.star_rate
		from board b inner join member_tbl m using(mem_no) WHERE mem_no=#{mem_no} order by board_no desc) 
        A LIMIT #{totalRecord}) 
        C LIMIT #{startRecord},#{onePageRecord}
	</select>    

</mapper>