<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osom.mapper.TheaterMapper">
	<insert id="insert" parameterType="TheaterInfo">
		INSERT INTO theaterinfo VALUES (#{mt20id},#{prfnm},#{prfstate},#{genrenm},#{prfpdfrom},#{prfpdto},#{poster},#{fcltynm},#{prfruntime})
	</insert>
	<select id="get" parameterType="String" resultType="String">
		SELECT mt20id FROM theaterinfo WHERE genrenm=#{genre}
	</select>
	<update id="updateconno" parameterType="TheaterInfo">
		UPDATE theaterinfo SET con_no=#{con_no} WHERE mt20id =#{mt20id}		
	</update>
	<select id="searchtheaterlist" parameterType="String" resultType="TheaterInfo">
		SELECT * FROM theaterinfo WHERE prfnm LIKE CONCAT('%',#{keyword},'%')
	</select>
	<select id="gettheaterreview" resultType="TheaterInfo" parameterType="String">
		SELECT distinct(con_no),theaterinfo.poster,theaterinfo.prfnm,theaterinfo.mt20id,theaterinfo.genrenm FROM theaterinfo INNER JOIN board USING(con_no) where genrenm=#{genrenm};
	</select>
	
	<select id="select" parameterType="String" resultType="TheaterInfo">
		SELECT * FROM theaterinfo WHERE mt20id = #{mt20id}
	</select>
	<select id="getonetheaterreview" resultType="TheaterInfo" parameterType="String">
		select * from board inner join theaterinfo using(con_no) inner join member_tbl using(mem_no) WHERE mt20id=#{mt20id};
	</select>
	<select id="totalRecord" resultType="Integer" parameterType="Paging">
		select count(*) from board inner join theaterinfo using(con_no) WHERE mt20id=#{mt20id} and genrenm=#{genrenm};
	</select>
	<select id="boardPageSelect" resultType="TheaterInfo" parameterType="Paging">
		select C.* from(select A.* from(select b.board_no,b.title,b.review,b.writedate,b.star_rate,m.nickname
		from board b inner join movieinfo using(con_no) inner join member_tbl m using(mem_no) WHERE mt20id=#{mt20id} and genrenm=#{genrenm} order by board_no desc) A LIMIT #{totalRecord}) C LIMIT #{startRecord},#{onePageRecord};
	</select>
	<select id="getLikeContentsNameM" resultType="TheaterInfo" parameterType="Integer">
		select mt20id,prfnm from theaterinfo where con_no in (select con_no from like_list where mem_no = 2 and genrenm='뮤지컬')
	</select>
	<select id="getLikeContentsNameT" resultType="TheaterInfo" parameterType="Integer">
		select mt20id,prfnm from theaterinfo where con_no in (select con_no from like_list where mem_no = 2 and genrenm='연극')
	</select>
</mapper>