<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>리뷰리스트</title>
</head>
<style>
.reviewtable {
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
}
td{
	text-align: center;
}
.reviewtablehead{
	background-color:gray;
}
</style>
<body>
	<h3>리뷰리스트~</h3>
	<p>현재 등록된 리뷰 수 : [[${reviewnumber}]]</p>
	<a th:href="@{/main}">메인으로 이동</a>
	<input class="form-control" id="hzInput" type="text" placeholder="Search..">
	<div class="entry-content">
		<table class="reviewtable">
			<thead class="reviewtablehead">
				<tr class="reviewlist">
					<th style="text-align:center;">글번호</th>
					<th style="text-align:center;">콘텐츠번호</th>
					<th class="jb-th-1" style="width: 25%; text-align:center;">제목</th>
					<th class="jb-th-1" style="width: 25%; text-align:center;">리뷰</th>
					<th style="text-align:center;">작성자(닉네임)</th>
					<th style="text-align:center;">등록일</th>
					<th style="text-align:center;">평점</th>
				</tr>
			</thead>

			<tbody id="hzTable">
				<!-- CONTENTS !-->
				<tr th:each="s: ${boards}" class="review">
					<td><span th:text="${s.board_no}"></span></td>
					<td><span th:text="${s.con_no}"></span></td>
					<td><span th:text="${s.title}"></span></td>
					<td><span th:text="${s.review}" style="font-size: 0.8em;"></span></td>
					<td><span th:text="${s.nickname}"></span></td>
					<td><span th:text="${#dates.format(s.writedate,'yyyy-MM-dd')}"></span></td>
					<td><span th:text="${s.star_rate}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>

		$(document).ready(function(){
		
		  $("#hzInput").on("keyup", function() {
		
		    var value = $(this).val().toLowerCase();
		
		    $("#hzTable tr").filter(function() {
		
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		
		    });
		
		  });
		
		});
	
	</script>
</body>
</html>