<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>리뷰리스트</title>
</head>
<style>
.reviewtable {
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
}
td{
	text-align: center;
}
.reviewtablehead{
	background-color:gray;
}
</style>
<body>
	<h3>리뷰리스트~</h3>
	<p>현재 등록된 리뷰 수 : [[${reviewnumber}]]</p>
	<a th:href="@{/main}">메인으로 이동</a>
	<div class="entry-content">
		<table class="reviewtable">
			<thead class="reviewtablehead">
				<tr class="reviewlist">
					<th>글번호</th>
					<th>콘텐츠번호</th>
					<th class="jb-th-1" style="width: 25%;">제목</th>
					<th class="jb-th-1" style="width: 25%;">리뷰</th>
					<th>작성자(닉네임)</th>
					<th>등록일</th>
					<th>평점</th>
				</tr>
			</thead>

			<tbody>
				<!-- CONTENTS !-->
				<tr th:each="s: ${boards}" class="review">
					<td><span th:text="${s.board_no}"></span></td>
					<td><span th:text="${s.con_no}"></span></td>
					<td><span th:text="${s.title}"></span></td>
					<td><span th:text="${s.review}" style="font-size: 0.8em;"></span></td>
					<td><span th:text="${s.nickname}"></span></td>
					<td><span th:text="${#dates.format(s.writedate,'yyyy-MM-dd')}"></span></td>
					<td><span th:text="${s.star_rate}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>