<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/team.css}" rel="stylesheet">
<link th:href="@{/css/variables.css}" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Doit Book</title>
<link rel="icon" href="/img/stack-of-books.png">

<meta content="" name="description">
<meta content="" name="keywords">


<!-- Favicons -->

<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
	<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/team.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">

<style>
.container-fluid{
	margin-left: 30px;
}

.gallery-item img {
	transition: all 0.2s linear;
}

.gallery-item:hover img {
	transform: scale(1.4);
}

 #favorite__icon{fill:#E54C3B;visibility:hidden;}
#favorite__rect{fill:#E54C3B;}
  #favorite__text{fill:#FFFFFF;font-size:20px;}

</style>

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/isotope.pkgd.js"></script>


   
    


<script>
	 function chkwrite(){
		alert("로그인하세욥!");
	}
	 
	 function chkadd(){
		
	alert("팔로우를 하였습니다.");
	
	
	return true;
};
	 
	</script>
</head>

<body>
<header th:replace="top.html :: navigation-bar"></header>
	
 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>DOIT BOOK IN OSOMDOSOM</h1>
          <h2>당신만의 미디어 리뷰를 써보세요.<br> 리뷰 쓸떄마다 적립을 해드립니다.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          
          <div th:if ="${session.logincust == null}"> 
            <a th:href="@{/login}" class="btn-get-started scrollto" onClick='chkwrite();'>새글작성</a>
            </div>
            <div th:if="${session.logincust != null}">
						<a th:href="@{/newboardwrite}" class="btn-get-started scrollto">새글작성</a>
					</div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  
  <section id="gallery" class="gallery">
      
		<div class="section-title">
          <h2>미디어</h2>
          <p>원하시는 미디어를 선택하세요!</p>
        </div>
        <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/movie}"> <img src="/img/movie.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
             <a th:href="@{/book}"> <img src="/img/book.png" class="img-fluid" alt="" style="width:300px; height:400px;">
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/theater}"><img src="/img/theater.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <a th:href="@{/musical}"><img src="/img/musical.png" class="img-fluid" alt="" style="width:300px; height:400px;">
             </a>
            </div>
          </div>
          
          </div>
         </div>
         
         </section>
         
    <!-- ======= Team Section ======= -->
     <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>베스트 리뷰너</h2>
          <p>가장 많은 리뷰를 쓴 사람들을 확인해보세요.</p>
        </div>

        <div class="row" th:each="m:${members}" style="height:300px; width:45%; float:left;  margin-left:50px;">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100"  style="width:200%; height:250px;">
              <div class="pic"><img th:src=" '/img/jongjinimg/follower/'+${m.mem_img}" style="height:180px; width:130px;" class="img-fluid" alt=""></div>
              <div class="member-info">
              <input type="hidden" id="best" th:value="${m.mem_id}"> 
                <h4>[[${m.nickname}]]</h4> 
                <p>[[${m.myword}]]</p>
                 <div class="follower">
                  <div th:if ="${session.logincust == null}"> 
            <a th:href="@{/login}" onClick='chkwrite();'>
            <img src="img/jongjinimg/follower/heart.png" style="width:30px;"></a>           		
            </div>
            
            <div th:if="${session.logincust != null}">
						<a th:href="@{/follower/addbest(fwid=${m.mem_id})}" onClick='chkadd();' id="heart">
						<img src="img/jongjinimg/follower/heart.png" style="width:30px;">
						</a>
					</div> 
					
                </div>
              </div>
            </div>
          </div>

  </div>
 </div>
           
    </section>

	<footer th:replace="footer.html :: footer"></footer>
	
</body>

</html>