<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="/css/lostinfo.css" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">


<Script>
$(document).ready(function(){
	$('#findidbtn').click(function(){
		var mem_name = $('#mem_name').val();
		var mem_email = $('#mem_email').val();
		var tag="<li style='text-align:center;'>";
		if(mem_name==""){
			alert("이름을 입력해주세요");
			$('#mem_name').focus();
			return false;
		} 
		if( mem_email==""){
			alert("이메일을 입력해주세요");
			$('#mem_email').focus();
			return false;
		}
		
		$.ajax({
			data:{
				"mem_name":mem_name, 
				"mem_email":mem_email
			},
			url:'[[@{/findid}]]',
			success:function(data){
				if(data==""){
					alert("등록되지 않은 회원입니다. 이름과 연락처를 올바르게 입력했는지 확인하세요");
					location.href = '[[@{/lostinfo}]]';
				}else {
					tag += "회원님의 가입 아이디는 <b>";
					tag += data;
					tag += "</b>입니다 </li>";
					$('#emailresult').append(tag);
				}
			},error:function(){
				alert("error");
			}
		});
	});
});

</script>

<body>
		<br>
		<br>
        <h1>DOIT BOOK</h1>
        <br>
		<section class="page-section" id="lostinfo">
            <div id="lostid">
                <h4>아이디 찾기</h4>
                <ul>
                   이름 <li ><input type="text" name="mem_name" id="mem_name"/></li>
                   이메일 <li><input type="text" name="mem_email" id="mem_email"/></li><br>
                    <button id="findidbtn" >아이디 찾기</button>
                      <br>
                      <div id="emailresult"></div>
                </ul>
            </div>
            
            
	   <form class = "content" action="/member/pw_auth.me" method="post">
			<div class="textbox">
  				아이디<input id="text" id=id type="text" name="mem_id"/>
  				<label for="text">아이디</label>
   				<div class="error">아이디을 입력하세요  </div>
 			</div>
			<div class="textbox">
  				이메일<input id="email" name="mem_email" required="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)?$/i" type="email" />
  					<label for="email">이메일</label>
  			<div class="error">유효하지 않은 이메일주소 입니다  </div>
			</div>
   			<button id="check">이메일보내기</button>
		</form>
    	
        </section>
  </body>
  </html>