<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="/css/lostinfo.css" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">


<Script>
$(document).ready(function(){
	$('#findidbtn').click(function(){
		var mem_name = $('#mem_name').val();
		var mem_email = $('#mem_email').val();
		var tag="<li style='text-align:center;'>";
		if(mem_name==""){
			alert("이름을 입력해주세요");
			$('#mem_name').focus();
			return false;
		} 
		if( mem_email==""){
			alert("이메일을 입력해주세요");
			$('#mem_email').focus();
			return false;
		}
		
		$.ajax({
			data:{
				"mem_name":mem_name, 
				"mem_email":mem_email
			},
			url:'[[@{/findid}]]',
			success:function(data){
				if(data==""){
					alert("등록되지 않은 회원입니다. 이름과 연락처를 올바르게 입력했는지 확인하세요");
					location.href = '[[@{/lostinfo}]]';
				}else {
					tag += "회원님의 가입 아이디는 <b>";
					tag += data;
					tag += "</b>입니다 </li>";
					$('#emailresult').append(tag);
				}
			},error:function(){
				alert("error");
			}
		});
	});
});

</script>

<body>
		
        <h1>DOIT BOOK</h1>
        
        <div id="lostid">
		<section class="page-section" id="lostinfo">
                <h4>아이디 찾기</h4>
                <ul>
                   이름 <li ><input type="text" name="mem_name" id="mem_name"/></li>
                   이메일 <li><input type="text" name="mem_email" id="mem_email"/></li><br>
                    <button id="findidbtn" >아이디 찾기</button>
                      <div id="emailresult"></div>
                </ul>
         </section> 
         </div>
         <br>
         <div id="findpwd">
	   <form class = "content" action="/member/pw_auth.me" method="post">
				<h4>비밀번호 찾기</h4>
				<ul>
  					아이디<li><input id="text" id="id" type="text" name="mem_id"/></li>
  					이메일<li><input id="email" name="mem_email" required="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)?$/i" type="email"/></li></br>
  				<button id="check">인증번호 보내기</button>
  			</ul>
		</form>
         </div>
     
  </body>
  </html>