<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<style>
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


</style>

</script>
	<!-- Template Main JS File -->
	<script src="/js/main.js"></script>
	

</head>
<body>
<header id="header" class="header d-flex align-items-center fixed-top" th:fragment="navigation-bar">

	<script>		
	function chklogin(){
		alert("로그인이 필요한 서비스입니다. 로그인 이후 이용해 주십시오.");
	}
	</script>     
	
	<script>
	function logout(){
		alert("로그아웃 되었습니다.");
	}
	</script>


		<div class="top container-fluid container-xl d-flex align-items-center justify-content-between" >

			<a th:href="@{/}" class="logo d-flex align-items-center"> <!-- Uncomment the line below if you also wish to use an image logo -->
				<img src="/img/title.png" style="width: 200px; height: 80px; object-fit: cover;">
			</a>

			<nav id="navbar" class="navbar">
				<ul>
					<li class="dropdown"><a th:href="@{/mediamain}"><span>미디어</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a th:href="@{/movie}">Movie</a></li>
							<li><a th:href="@{/book}">Book</a></li>
							<li><a th:href="@{/musical}">Musical</a></li>
							<li><a th:href="@{/theater}">Theater</a></li>

						</ul></li>
					<li><a th:href="@{/mbtimain}"><span>MBTI</span>
							</a>

						</li>
					
					
					<div th:if ="${session.logincust == null}"> 
						<li><a th:href="@{/follower/FollowerPage}" onClick='chklogin();'>팔로워</a></li>
			
					</div>
					<div th:if="${session.logincust != null}">
						<li><a th:href="@{/follower/FollowerPage}">팔로워</a></li>

					</div>
					
					
					<div th:if ="${session.logincust == null}"> 
						<li><a th:href="@{/pointshop}" onClick='chklogin();'>포인트상점</a></li>
			
					</div>
					<div th:if="${session.logincust != null}">
						<li><a th:href="@{/pointshop}">포인트상점</a></li>

					</div>
					
					<div th:if ="${session.logincust != null}"> 
						<li><a th:href="@{/myboard}">내 글</a></li>			
					</div>
					
					<div th:if="${session.logincust != null}">
						<li><a th:href="@{/newboardwrite}">새글작성</a></li>
					</div>

					<div th:if="${session.logincust != null}">
						<li><a th:href="@{/mypage}">마이페이지</a></li>
					</div>
				</ul>
			</nav>
			<!-- .navbar -->

			<div class="position-relative">
				
					<div th:if ="${session.logincust == null}"> <!-- -->
						<a th:href="@{/login}" >Login/SIGN UP</a>
			
					</div>
					<div th:if="${session.logincust != null}">
						<a th:href="@{/logout}">
						<span th:text="${session.logincust.nickname} + '님💛 <로그아웃>' " onClick='logout();'></h2>

					</a>
					</div>
					<div>	
						<a href="#" class=" js-search-open" style="display:block; float:left;"></a>
						<i class="bi bi-list mobile-nav-toggle"></i>
					</div>
					
				<!-- ======= Search Form ======= -->
				<div class="search-form-wrap js-search-form-wrap">
					<form action="search-result.html" class="search-form">
						<span class="icon bi-search"></span> <input type="text"
							placeholder="Search" class="form-control">
						<button class="btn js-search-close">
							<span class="bi-x"></span>
						</button>
					</form>
				</div>
				<!-- End Search Form -->
		<a href="#"
				class="scroll-top d-flex align-items-center justify-content-center"><i
				class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/vendor/aos/aos.js"></script>
	<script src="/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/js/main.js"></script>

			</div>

		</div>

	
	</header>
	
</body>
</html>