*{
  list-style:none;
  
}

h4{
  text-align:center;

}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

#lostid, #lostpwd{

  border:1px solid 	#DCDCDC;
  width:430px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
}

h2 {
  text-align: center;
}

.btn2{
  text-align:center;
  margin:0 auto;
}

button {
  border-radius: 20px;
  border: 1px solid 	#2F4F4F;
  background-color: 	#2F4F4F;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin:auto;
}


button:active {
  transform: scale(0.95);
}


button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 320px;
  height: 25px;
}

