@charset "UTF-8";

/* Top의 로그인 로그아웃 정렬*/
 .position-relative > ul > li {
  float :left;
  list-style:none;
  margin : 10px;
}

/* 로그인 창*/
#login_form_style{
	margin-top:200px;
	text-align: center;
	position:static;
	
}
#login_form_style input{
	margin:5px;
}
/* 회원가입 창*/
