
<h2> 현재 도서 콘텐츠 개수 : [[${bookcon_num}]] 개</h2>
<input class="form-control" id="hzInput" type="text" placeholder="Search..">
<div class="entry-content">
	<table class="booktable">
		<thead class="booktablehead">
			<tr class="booklist">
				<th style="width: 5%; text-align:center;">번호</th>
				<th style="width: 25%; text-align:center;">제목</th>
				<th style="width: 18%; text-align:center;">저자</th>
				<th style="width: 10%; text-align:center;">출판사</th>
				<th style="width: 5%; text-align:center;">출판년도</th>
				<th style="width: 15%; text-align:center;">분류</th>
			</tr>
		</thead>

		<tbody id="hzTable">
			<!-- CONTENTS !-->
			<tr th:each="s: ${books}" class="book">
				<td><span th:text="${s.book_no}"></span></td>
				<td>[[${s.bookname}]][[${s.vol}]]</td>
				<td><span th:text="${s.authors}"></span></td>
				<td><span th:text="${s.publisher}"></span></td>
				<td><span th:text="${s.publication_year}"></span></td>
				<td><span th:text="${s.class_nm}"></span></td>
			</tr>
		</tbody>
	</table>
</div>
	<script>

		$(document).ready(function(){
		
		  $("#hzInput").on("keyup", function() {
		
		    var value = $(this).val().toLowerCase();
		
		    $("#hzTable tr").filter(function() {
		
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		
		    });
		
		  });
		
		});
	
	</script>