<h2> 현재 영화 콘텐츠 개수 : [[${moviecon_num}]] 개</h2>
<input class="form-control" id="hzInput" type="text" placeholder="Search..">
<div class="entry-content">
	<table class="movietable">
		<thead class="movietablehead">
			<tr class="movielist">
				<th  style="width: 5%; text-align:center;">영화코드</th>
				<th  style="width: 20%; text-align:center;">영화명</th>
				<th  style="width: 20%; text-align:center;">영화명(영문)</th>
				<th  style="width: 15%; text-align:center;">장르</th>
				<th  style="width: 5%; text-align:center;">개봉일</th>
				<th  style="width: 10%; text-align:center;">감독</th>
				<th  style="width: 5%; text-align:center;">상영시간(분)</th>
			</tr>
		</thead>

		<tbody id="hzTable">
			<!-- CONTENTS !-->
			<tr th:each="s: ${movies}" class="movie">
				<td><span th:text="${s.movieCd}"></span></td>
				<td><span th:text="${s.movieNm}"></span></td>
				<td><span th:text="${s.movieNmEn}"></span></td>
				<td><span th:text="${s.genreAlt}"></span></td>
				<td><span th:text="${s.openDt}"></span></td>
				<td><span th:text="${s.peopleNm}"></span></td>
				<td><span th:text="${s.showTm}"></span></td>
			</tr>
		</tbody>
	</table>
</div>
	<script>

		$(document).ready(function(){
		
		  $("#hzInput").on("keyup", function() {
		
		    var value = $(this).val().toLowerCase();
		
		    $("#hzTable tr").filter(function() {
		
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		
		    });
		
		  });
		
		});
	
	</script>