

<h2> 현재 뮤지컬 콘텐츠 개수 : [[${musicalcon_num}]] 개</h2>
<div class="entry-content">
	<table class="musicaltable">
		<thead class="musicaltablehead">
			<tr class="musicallist">
				<th style="width: 10%; text-align:center;">공연코드</th>
				<th style="width: 25%; text-align:center;">공연명</th>
				<th style="width: 5%; text-align:center;">공연상태</th>
				<th style="width: 20%; text-align:center;">공연기간</th>
				<th style="width: 25%; text-align:center;">공연장</th>
				<th style="width: 10%; text-align:center;">런타임</th>
			</tr>
		</thead>

		<tbody id="hzTable">
			<!-- CONTENTS !-->
			<tr th:each="s: ${musicals}" class="musical">
				<td><span th:text="${s.mt20id}"></span></td>
				<td><span th:text="${s.prfnm}"></span></td>
				<td><span th:text="${s.prfstate}"></span></td>
				<td>[[${s.prfpdfrom}]]~[[${s.prfpdto}]]</td>
				<td><span th:text="${s.fcltynm}"></span></td>
				<td><span th:text="${s.prfruntime}"></span></td>
			</tr>
		</tbody>
	</table>
</div>
